<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 示例mapper文件 -->
<mapper namespace="com.o2o.shop.mapper.ProductCategoryMapper">
    <insert id="batchInsertProductCategory" parameterType="java.util.List">
        insert into
        tb_product_category(product_category_name,priority,create_time,shop_id)
        values
        <foreach collection="productCategoryList" item="productCategoryDO" index="index"
            separator=","
        >
            (
            #{productCategoryDO.productCategoryName},
            #{productCategoryDO.priority},
            #{productCategoryDO.createTime},
            #{productCategoryDO.shopId}
            )
        </foreach>
    </insert>
</mapper>